@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	 font: 100%/Palatino, URW Palladio L, serif
}
.homePage {
	background: #FA2A81
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #53BD58;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	
}
.nav {
	background: #A80A4D;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFFFFF;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #527A54;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}a:link {
     color: #A80A4D;
}
a:visited {
     color: #000000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
